{
    "prefix": ",",
    "progress_messages": True,      # Show step-by-step progress for commands
    "whitelist_enabled": True,      # Restrict usage to users in users.csv
    "auto_clear": True,             # Automatically delete previous bot responses on new commands
    "recent_downloads": True,       # Enable the ",last" command
    "bot_credit": f"via [YTMG](https://github.com/den22den22/YTMG/)",       # Caption added to sent media |  please do not change, thereby you will help the spread of the userbot
    "bot_enabled": True,            # Global enable/disable switch for the bot
    "default_search_limit": 8,      # How many results ytmusicapi should fetch
    "artist_top_songs_limit": 5,    # Max songs shown in ",see -e"
    "artist_albums_limit": 3,       # Max albums shown in ",see -e"
}